body{
    margin-left: 20px !important;
}

.chat{
    background-color: aliceblue;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    display: inline-block;
    width: 600px;
}

.chat .from{
    font-size: large;
}

.msg{
    background-color: rgb(170, 189, 206);
    padding: 5px 15px;
    border-radius: 20px;
    font-family: cursive;
}

.btns{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

button{
    border-radius: 5px !important;
    margin-left: 10px !important;
}
